# Core Framework
Django>=5.1,<5.2

# Forms & Styling (Bootstrap 5)
django-crispy-forms>=2.3
crispy-bootstrap5>=2024.10

# Image Processing (For your Blog featured images)
Pillow>=10.4.0

# Database Utilities
asgiref>=3.8.1
sqlparse>=0.5.1