{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <!-- ROW 1: Title + Image + Sidebar -->
    <div class="row">

        <!-- Blog Header + Image -->
        <div class="col-lg-9">
            <article>

                <!-- Post header -->
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">{{ single_blog.title }}</h1>

                    <div class="text-muted fst-italic mb-2">
                        Posted on {{ single_blog.created_at }} by {{ single_blog.author }}
                    </div>

                    <a class="badge bg-warning text-decoration-none text-light"
                       href="{% url 'posts_by_category' single_blog.category_id %}">
                        {{ single_blog.category }}
                    </a>
                </header>

                <!-- Preview image -->
                <figure class="mb-4">
                    <img class="img-fluid rounded"
                         src="{{ single_blog.featured_image.url }}"
                         alt="blog photo">
                </figure>

            </article>
        </div>

        <!-- Sidebar -->
        <div class="col-lg-3">
            <div class="mb-5"></div>
            <!-- Categories widget -->
            <div class="card mb-3 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        {% for category in categories %}
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="{% url 'posts_by_category' category.id %}" class="text-dark">
                                            {{ category.category_name|truncatechars:8 }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% empty %}
                            <div class="col-12">
                                <p>No categories found.</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if social_links %}
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Follow Me</h4>
                <ol class="list-unstyled">
                    {% for social_link in social_links %}
                        <li>
                            <a href="{{ social_link.link }}" target="_blank">
                                {{ social_link.platform }}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            {% endif %}

        </div>
    </div>

    <!-- ROW 2: FULL WIDTH BODY CONTENT -->
    <div class="row">
        <div class="col-12">

            <!-- Short Description -->
            <p class="fs-4 mb-4">
                {{ single_blog.short_description }}
            </p>

            <!-- Blog Body -->
            <div class="fs-5 mb-5">
                {{ single_blog.blog_body }}
            </div>

        </div>
    </div>

    <!-- Comments -->
    <h4>Comments ({{ comments_count }})</h4>

    {% if comments %}
    {% for comment in comments %}
        <div class="card mb-2">
            <div class="card-body">
                <p class="card-text text-dark fs-6 lh-lg mb-2 px-3 py-2 rounded bg-light border-start border-3 border-warning">
                    {{ comment }}
                </p>
                <div class="d-flex justify-content-between align-items-center px-1">
                    <small class="text-muted">By <strong>{{ comment.user }}</strong></small>
                    <small class="text-muted">{{ comment.created_at|timesince }} ago</small>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
    <p class="text-muted">No comments yet.</p>
    {% endif %}
    
    {% if user.is_authenticated %}
    <div class="card mt-3">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="comment" class="form-label fw-semibold">
                        Leave a comment
                    </label>
                    <textarea
                        name="comment"
                        id="comment"
                        rows="3"
                        class="form-control"
                        placeholder="Write your comment here..."
                        required></textarea>
                    </div>
                    <div class="text-end">
                    <button type="submit" class="btn btn-primary px-4">
                        Post Comment
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <p class="text-muted"><span><a href="{% url 'login' %}">Login</a></span> to write comment.</p>
    {% endif %}

    <!-- comment end -->

</div>

{% endblock %}
