{% extends "base.html" %}

{% block content %}

  <!-- Main featured_post -->
  {% if featured_post %}
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url({{ post.featured_image.url }});background-blend-mode: overlay;background-size:cover;">
    <div class="col-md-8 px-0">
      <h1 class="display-4 font-italic">{{ featured_post.title }}</h1>
      <p class="lead my-3">{{ featured_post.short_description | truncatewords:40 }}</p>
      <p class="lead mb-0"><a href="{% url 'blog' featured_post.slug %}" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
  {% endif %}


  <!-- Other featured_posts -->
  <h2 class='blog-post-title text-warning'>Category - {{category}}</h2>
  <div class="row mb-2">
    {% if posts %}
    {% for post in posts %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <h3><a href="{% url 'blog' post.slug %}" class="text-black">{{ post.title }}</a></h3>
          <small class="mb-1 text-muted">{{post.created_at | timesince}} ago | {{post.author}}</small>
          <p class="card-text">{{ post.short_description | truncatewords:30 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% elif not featured_post %}
      <p class='blog-post-title'>No posts found in this category !!!</p>
    {% endif %}
  </div>


  {% endblock %}