{% extends "base.html" %}

{% block content %}

<!-- Main Featured Post -->
{% if featured_post %}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark"
     style="
        background-image: url({{ featured_post.featured_image.url }});
        background-blend-mode: overlay;
        background-size: cover;
        background-position: center;
     ">
    <div class="col-md-8 px-0">
        <h1 class="display-4 fst-italic">
            {{ featured_post.title }}
        </h1>

        <p class="lead my-3">
            {{ featured_post.short_description|truncatewords:80 }}
        </p>

        <p class="lead mb-0">
            <a href="{% url 'blog' featured_post.slug %}"
               class="text-white fw-bold text-decoration-none">
                Continue reading . . .
            </a>
        </p>
    </div>
</div>
{% endif %}

<!-- Category Title -->
<h2 class="blog-post-title text-warning mb-4">
    Category - {{ category }}
</h2>

<!-- Other Posts -->
<div class="row mb-2">

    {% if posts %}
        {% for post in posts %}
        <div class="col-md-6 mb-3">
            <div class="card border-0 h-100">
              <div class="card-body">
                <h3><a href="{% url 'blog' post.slug %}" class="text-black">{{ post.title }}</a></h3>
                <small class="mb-1 text-muted">{{post.created_at | timesince}} ago | {{post.author}}</small>
                <p class="card-text">{{ post.short_description | truncatechars:50 }}</p>
              </div>
            </div>
        </div>
        {% endfor %}

    {% elif not featured_post %}
        <p class="blog-post-title text-muted">
            No posts found in this category !!!
        </p>
    {% endif %}

</div>

{% endblock %}
