{% extends "base.html" %}

{% block content %}
<!-- -->
<div class="row">
    <!-- left side bar -->
    <!-- load side bar here -->
    {% include "dashboard/sidebar.html" %}

    <!-- right side content-->
    <div class="col-md-9">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h4 class="mb-0">All Categories</h4>
        <a href="{% url 'add_category' %}" class="btn btn-dark text-light">Add New</a>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Category Name</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for category in categories %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ category }}</td>
            <td>{{ category.created_at }}</td>
            <td>{{ category.updated_at }}</td>
            <td>
              <a href="{% url 'edit_category' category.id %}"><i class="fa-solid fa-pen-to-square"></i></a>&nbsp&nbsp
              <a href="{% url 'delete_category' category.id  %}"><i class="fa-solid fa-trash text-danger"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}