{% extends "base.html" %}


{% block content %}
{% load crispy_forms_tags %}
<!-- -->
<div class="row">
    <!-- left side bar -->
    <!-- load side bar here -->
    {% include "dashboard/sidebar.html" %}

    <!-- right side content-->
    <div class="col-md-10">
        {% if perms.auth.add_user%}
        <h4>Add New User</h4>
        <form action="{% url 'edit_user' user.pk %}" method="POST" style="width: auto;">
            {% csrf_token %}
            {{ form | crispy }} <br>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        {% else %}
        <p class="blog-post-title text-muted text-center">
            You do not have permission !!!
        </p>
        {% endif %}
    </div>
</div>

{% endblock content %}