{% extends "base.html" %}


{% block content %}
{% load crispy_forms_tags %}
<!-- -->
<div class="row">
    <!-- left side bar -->
    <!-- load side bar here -->
    {% include "dashboard/sidebar.html" %}

    <!-- right side content-->
    <div class="col-md-10">
        <h4>Edit Post</h4>
        <form action="{% url 'edit_post' post.id %}" method="POST" enctype="multipart/form-data" style="width: auto;">
            {% csrf_token %}
            {{ blog_post_form | crispy }} <br>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        
    </div>
</div>

{% endblock content %}